.reveal div .container {
  width: 100%;
  display: table;
  table-layout: fixed; }

.reveal .container .cell {
  display: table-cell;
  width: 2%;
  margin: 5px;
  padding: 5px; }

.reveal div .bordered {
  border: 2px solid black;
  border-radius: 10px; }

.reveal div .noborder {
  border: none;
  border-radius: 10px; }

.reveal div .floating {
  display: table-cell; }

.reveal li.check:before {
  content: '\2713  ';
  color: #008000; }
